body {
  font-family: 'Source Sans Pro', sans-serif;
}

form > input {
  margin-bottom: 4px;
}

.btn {
  margin-bottom: 8px;
}

.chartWrapper {
		position: relative;
}

.chartWrapper > canvas {
		position: absolute;
		left: 0;
		top: 0;
		pointer-events:none;
}

.chartAreaWrapper {
		width: 600px;
		overflow-x: scroll;
}
